<div class="chat-container">
    <div class="title">Messages système :</div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
        <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
    <div class="message-container">
        <span class="time">4:20 - </span>
        <span class="message">Bonjour les amis je viens de me connecter et j'aimerais jouer avec vous à un jeu super cool</span>
    </div>
</div>