.title {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 6px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chat-container {
    width: 20%;
    min-width: 300px;
    height: 360px;
    padding: 10px;
    background: #FFF;
    overflow: scroll auto;
    margin-right: 40px;
}

.message-container {
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 40px 260px;
}

.message {
    font-size: 16px;
    text-align: justify;
}