.chat-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 350px;
    height: 350px;
    padding: 10px;
    background: #FFF;
    overflow: scroll auto;
    margin-right: 30px;
    border-radius: 8px;
}

.title {
    color: #999999;
    margin-bottom: 20px;
}

.message {
    font-size: 16px;
    text-align: justify;
}