.form{
    background-color:#FFFFFF;
    width:auto;
    height:auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    border: #000000 solid 2px;
}
.title{
    height: 40px;
    text-align: center;
}
.name-section{
    height: 40px;
}
.original-image-section{
    height: 40px;
}
.modified-image-section{
    height: 40px;
}
.button-section{
    height: 40px;
    text-align: center;
}
button{
    font-family: 'Helvetica Neue';
    font-size: 16px;
    background-color:#201e1e;
    color:#FFFFFF;
    border:none;
    width:20%;
}
