.form {
    padding: 30px;
    background-color: #122237;
    width: auto;
    color: #FFF;
    font-family: 'Helvetica';
    height: auto;
    border-radius: 10px;
}

.title {
    height: 40px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.info {
    height: 40px;
    margin-left: 10px;
}

input {
    margin-left: 10px;
}

input[type="file"] {
    margin-top: 20px;
    cursor: pointer;
}

.name-input {
    padding-left: 6px;
    font-size: 16px;
    margin-left: 37px;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 200px;
}

.button-section {
    margin-top: 20px;
    height: 40px;
    text-align: center;
}

button {
    font-family: 'Helvetica';
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 35px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button.cancel-btn {
    background: #ff5757;
}

button.create-btn {
    background: #08A037;
}

button.cancel-btn:hover {
    background: #f57575;
}

button.create-btn:hover {
    background: #10ab37;
}
.error-message{
    color:red;
    font-weight: bold;
}
