<div class="form">

  <div class="title">
    Creer un jeu point de vue simple
  </div>

  <div class="name-section">
    nom du jeu 
    <input class="name-input" placeholder="7 differences">
  </div>

  <div class="original-image-section">
    Image originale 
    <input placeholder="choisir un fichier">
  </div>

  <div class="modified-image-section">
    Image modifiée 
    <input placeholder="choisir un fichier">
  </div>

  <div class="button-section"> 
    <button>Creer</button>
    <button>Annuler</button>
  </div>

</div>
