/* You can add global styles to this file, and also import other style files */
:root {
    --success-color: #08A037;
    --danger-color: #ff5757;
    --font: 'Concert One', cursive;
}

* {
    font-family: var(--font)
}

body {
    background-image: linear-gradient(var(--header-color), var(--header-secondary-color));
    padding: 0;
    margin: 0;
    height: 100vh;
}

input:focus, button:focus {
    outline: none;
}