/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #8AC4FF;
    --secondary-color: #379bff;
    --success-color: #08A037;
    --danger-color: #ff5757;
    --header-color: #332323;
}

body {
    background-image: linear-gradient(#000000, #404040);
    padding: 0;
    margin: 0;
    height: 100vh;
}

input:focus, button:focus {
    outline: none;
}