<div class="form">

    <div class="title">
        Créer un jeu point de vue libre
    </div>

    <div class="info">
        Nom du jeu :
        <input class="name-input" placeholder="7 differences" [(ngModel)]="name"><br>
        <div class="error-message" *ngIf="(name.length < OPTION_MIN_NAME_LENGTH  || name.length > OPTION_MAX_NAME_LENGTH)">
            Le nom du jeu doit comporter entre 5 et 15 caractères
        </div>
    </div>

    <div class="info type-section">
        Type des objets :
        <select class="type-input" [(ngModel)]="sceneType">
                <option value="geometric" >Géométrique</option>
                <option value="thematic" >Thématique</option>
        </select>
    </div>

    <div class="info">
            Nombre d'objets :
            <input class="nbObjects-input" type="number" [(ngModel)]="nbObjects"><br>
            <div class="error-message" *ngIf="!isAIntInRange()">
                La valeur doit être un nombre entre 10 et 200
            </div>
    </div>

    <div class="input modification-object">
            Modifications aux objets :
            <input type="checkbox" [(ngModel)]="isAdding">ajout<br>
            <input type="checkbox" [(ngModel)]="isRemoval">suppression<br>
            <input type="checkbox" [(ngModel)]="isColorChange">changement de couleur<br>
            <div class="error-message" *ngIf="!(isAdding || isRemoval || isColorChange)">
                Au moins un type de modification doit être choisit
            </div>
    </div>
    
    <div class="button-section"> 
        <button class="cancel-btn" (click)="close()">Annuler</button>
        <button class="create-btn" (click)="submitForm()">Créer</button>
    </div>
</div>

