.info-container {
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-height: 65px;
}
.time-container {
    background: var(--primary-color);
    font-weight: 600;
    border-radius: 60px;
    margin-left: 20px;
    padding: 20px;
}

.differences-count {
    margin-left: 20px;
    border-radius: 100%;
    background: var(--success-color);
    padding: 25px;
}

.info-container div {
    margin: auto;
}

.info-label {
    color: #FFFFFF;
}

.images-chat-container {
    display: flex;
    margin-top: 50px;
    background: var(--primary-color);
    padding: 40px 0px 40px 20px;
    
}

app-chat-messages {
    float: right;
}

.instruction-container {
    background-color: var(--header-color);
    font-size: 48px;
    padding-top: 14px;
    font-weight: 600;
}
.instruction-container, .title-container {
    height: 75px;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.title-container {
    font-size: 50px;
    color: var(--secondary-color);
    position: relative;
    text-align: center;
}