
<div class="instruction-container">Trouvez les 7 différences</div>

<div class="container">
    <div class="title-container">{{name}}</div>
    
    <div class="info-container">
        <span>
            <app-chrono></app-chrono>
        </span>
        <span *ngFor="let counter of foundDifferencesCounters" class="differences-count">
            <span>{{counter}}/{{requiredDifferences}}</span>
        </span>
    </div>


    <div *ngIf="!isChronoRunning" class="loader"></div>
    <div #container class="images-chat-container" [class.disabled]="!isChronoRunning">
        <div [style.left.px]="clickPosition.i" [style.top.px]="clickPosition.j" class="error-tag" *ngIf="isErrorMessageVisible">ERREUR</div>
        <div *ngIf="type==0; else scenes"> 
            <app-gameplay-2d (foundDifferenceEvent)="updateGameplay()" (errorIdentificationEvent)="identificationError()" [id]="id" [name]="name" [foundDifferencesCounter]="totalDifferenceCounter" [canClick]="canClick"></app-gameplay-2d>
        </div>
        <ng-template #scenes>
            <app-gameplay-3d (foundDifferenceEvent)="updateGameplay()" (errorIdentificationEvent)="identificationError()" [id]="id" [name]="name" [width]="500" [height]="375"  [differenceCounter]="totalDifferenceCounter" [canClick]="canClick"></app-gameplay-3d>
        </ng-template>
        <app-chat-messages></app-chat-messages>
    </div>
