.info-container {
    height: 60px;
    background: #FFFFFF20;
    width: 200px;
    display: flex;
    border-radius: 8px;
    margin: 10px;
    font-size: 36px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info-container div {
    margin: auto;
}

.info-value {
    color: #FFF;
    margin-left: 6px;
}

.info-label {
    color: #FFFFFF66;
}

.images-chat-container {
    margin-top: 60px;
}

app-chat-messages {
    margin-top: -26px;
    float: right;
}

