.header {
    width: 100%;
    height: 70px;
    z-index: 2;
    background: #FFFFFF;
    position: fixed;
}

.username {
    margin: 18px 10px;
    float: right;
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 700;
    font-family: 'Helvetica';
}

.game-lists {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
