.game-list {
    width: 700px;
}

.list-title{
    padding-top: 10px;
    position: fixed;
    margin-top:70px;
    background: #525286;
    color: #FFF;
    font-weight: 600;
    font-family: 'Trebuchet MS';
    font-size: 28px;
    text-align: center;
    height: 6%;
    z-index: 2;
    width: 51.5%;
}

.game-list-container {
    width: 50%;
    margin-top:150px;
}