.game-list {
    width: 50vw;
    min-width: 700px;
    max-width: 900px;
}

.list-title{
    padding-top: 10px;
    margin-top:70px;
    background: var(--secondary-color);
    color: var(--text-color);
    font-weight: 600;
    font-family: var(--font);
    font-size: 28px;
    text-align: center;
    height: 6%;
    z-index: 2;
    min-width: 700px;
    width: 50vw;
}

.game-list-container {
    width: 50%;
    margin-top: 20px;
}