<div class="color-picker" (click)="changePanelState()">
    <span class="display-color"></span>
</div>

<div [class.shown]="isPanelShown" class="color-panel">
    <span *ngFor="let colorPalette of colorPalettes"
            class="display-color"
            [style.backgroundImage]="'linear-gradient('+colorPalette.primary+', '+colorPalette.secondary+')'"
            (click)="colorSelected(colorPalette)">
    </span>

    <fa-icon class="icon theme" [icon]="faMoon"></fa-icon>
    <label class="switch theme-color">
        <input type="checkbox" checked (click)="changeTheme()">
        <span class="slider round"></span>
    </label>

    <fa-icon class="icon text" [icon]="faFont"></fa-icon>
    <label class="switch text-color">
        <input type="checkbox" checked (click)="changeTextColor()">
        <span class="slider round"></span>
    </label>
</div>

