.color-picker {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 4;

    width: 48px;
    height: 48px;
    border-radius: 24px;

    cursor: pointer;

    background-image: linear-gradient(#DDDDDD, #999999);
}

.color-picker:hover {
    margin-left: -1px;
    margin-top: -1px;
    border: solid 1px #FFFFFF;
}
