# Exclusion des dépendences du projet. Elles peuvent être regénérées 
# automatiquement.
.nyc_output/
node_modules/
false/

# Exclusion des fichiers Javascripts
out/

# The file created in the test for FileWriterUtil
test/test.bmp

# NPM Debug Log
npm-debug.log

# Code Coverage Folder
coverage/

# Files saved in Multer Uploads Folder
uploads/*
!uploads/voiture-originalImage.bmp  
!uploads/voiture-modifiedImage.bmp  
!uploads/voiture-differenceImage.bmp  

##Typescrit compilation ##

*.js.map
*.js


# Garder les fichiers necessaires pour les tests
!systemjs.config.js
!karma.conf.js
!karma-test-shim.js
!systemjs.config.extras.js
!tslint.json
!tsconfig.json
