<app-confirm-action *ngIf="isConfirmPanelShown" [actionMessage]="actionMessage" (confirmAction)="actionConfirmed($event)"></app-confirm-action>
<div class="game-sheet">
    <div class="game-preview">
        <div *ngIf="loading" class="loader"></div>
        <app-scene3d [class.faded]="loading" *ngIf="type; else image" class="game-preview-image" [name]="description.name" [width]="240" [height]="180"></app-scene3d>
        <ng-template #image>
                <img [class.faded]="loading" class="game-preview-image" src={{source}}>
        </ng-template>
    </div>
    
    
    <div class="header">
        <div class="game-title">{{description.name}}</div>
        <div class="top3-component">Top 3</div>
        <div></div>
        <div class="score-header">Solo</div>
        <div class="score-header">1v1</div>
    </div>

    <div class="scores">
        <div *ngFor="let medalColor of medalColors; index as i" 
            class="medals" [style.background]="medalColors[i]">
            <div class="value">{{i + 1}}</div>
        </div>
      
        <span *ngFor="let topScore of description.topScores; index as i" [style.gridColumn]="i + 2">
            <div *ngFor="let score of topScore.scoresStrings">
                <div class="score">{{score}}</div>
            </div>
        </span>
    </div>

    <div class="buttons">
        <button #btn1 (click)="isAdmin ? showConfirmPanel('supprimer') : play()" [disabled]="loading">
            <div>{{isAdmin ? "Supprimer" : "Jouer"}}</div>
        </button>
        <button #btn2 (click)="isAdmin ? showConfirmPanel('réinitialiser') : playMultiplayerGame()" [disabled]="loading">
            <div>{{isAdmin ? "Réinitialiser" : isGameCreated ? "Joindre" : "Créer"}}</div>
        </button>
    </div>
</div>