.game-sheet {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 214px 300px;
    grid-template-rows: 10% 90%;
    border-radius: 10px;
    font-family: 'Helvetica';
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    margin-bottom: 20px;
    height: 220px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    color: var(--text-color);
    box-shadow: 2px 2px 8px #00000077;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.game-sheet:hover {
    transform: scale(1.05);
}

.game-preview-image {
    width: 80%;
    margin-top: 20px;
    margin-left: 8px;
}

.game-preview {
    width: 300px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.header {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 40px 20px 20px;
    grid-template-columns: 20px 140px 140px;
}

.score-header {
    text-align: center;
}

.game-title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.top3-component {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}

.scores {
    grid-column: 2;
    margin-top: 70px;
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: 20px repeat(2, 140px);
    grid-template-rows: repeat(3, 24px);
    margin-left: 50px;
    font-size: 14px;
}

.score {
    margin-bottom: 10px;
    text-align: center;
}

.medals {
    grid-column-start: 1;
    box-shadow: 0px 0px 8px #00000044;
    grid-column-end: 1;
    z-index: 0;
    position: relative;
    text-align: center;
    display: flex;
    background: #FF0000;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    color: #000000;
}

.medals .value {
    margin: auto;
}

.buttons {
    grid-column: 2;
    margin-left: 70px;
    margin-top: -50px;
    display: grid;
    grid-template-columns: 140px 140px;
}

button {
    background: #FFFFFF;
    color: var(--primary-color);
    border: none;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    width: 90%;
    margin-left: 5%;
    height: 35px;
    transition-duration: 0.5s;
}

button:hover {
    background: var(--success-color);
    color: var(--text-color);
}

button div {
    text-align: center;
}