.game-sheet {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 10% 90%;
    border-radius: 10px;
    font-family: 'Helvetica';
    background: #ffffff20;
    margin-bottom: 20px;
    margin-left:25px;
    height: 220px;
    padding: 10px;
    width: 80%;
    color: white;
}

.game-title {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.game-preview-image {
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
}

.game-preview {
    text-align: center;
}

.score-header {
    text-align: center;
}

.top3-component {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
}

.scores {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20px repeat(2, 120px);
    grid-template-rows: repeat(4, 24px);
    margin-left: 4%;
    font-size: 14px;
}

.solo {
    grid-column-start: 2;
    grid-column-end: 3;
}

.score {
    text-align: center;
}

.pvp {
    grid-column-start: 3;
    grid-column-end: 4;
}

.row {
    display: grid;
    grid-template-columns: 20px repeat(2, 120px);
    grid-template-rows: 24px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.medals {
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: 0;
    position: relative;
    text-align: center;
    display: flex;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    color: #000;
}

.medals .value {
    margin: auto;
}

button {
    background: #08A037;
    display: flex;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    width: 110px;
    height: 35px;
    align-content: center;
}

button:hover {
    background: #10ab37;
}

button div {
    margin: auto;
}