<div class="game-sheet">
  <div class="game-title">Placeholder titre</div>
  <div style="display: flex;">
    <div class="game-preview">
      <img class="game-preview-image" src="../../assets/preview-placeholder.png">
    </div>
    <div class="scores">
      <div class="game-scores-header">
        1v1, solo
      </div>
      <div class="scores-table">
        <!-- tableau -->
        <div style="height: 100px"></div>
      </div>
      <div class="play-buttons">
        <button>Jouer</button>
        <button>Créer</button>
      </div>
    </div>
  </div>
</div>