.game-sheet {
    border: 2px solid black;
}
.game-title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px 10px;
}

.game-preview-image {
    width: 320px;
    height: 240px;
}

.game-preview {
    text-align: center;
}

.scores {
    text-align: center;
}