#login-container {
    font-family: var(--font);
    margin: auto;
    width: 500px;
    text-align: center;
}

h2 {
    color: var(--header-text-color);
    font-size: 36px;
    font-style: italic;
}

img {
    width: 200px;
    height: 100px;
}


#login-box {
    margin-top: -80px;
    border-radius: 14px;
    background-image: linear-gradient(-30deg, var(--primary-color), var(--secondary-color));
    padding: 160px 0px 90px 100px;
}

label {
    float: left;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
}

input[type="text"] {
    margin-top: 15px;
    float: left;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    padding: 6px;
    height: 45px;
    width: 280px;
}

::placeholder {
    color: #AAAAAA;
}

#error-message {
    background: #FF0000;
    border-radius: 20px;
    padding: 10px;
    margin-left: -15px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
    width: 300px;
    display: flex;
    float: left;
    text-align: left;
}

button {
    display: block;
    margin-top: 200px;
    margin-left: 60px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--primary-color);
    width: 160px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    color: var(--text-color);
    background: var(--success-color);
}