* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.username {
    text-align: center;
    font-size: 30px;
    color: var(--primary-color);
}

.user-icon {
    font-size: 100px;
    color: var(--primary-color);
}