* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.username {
    text-align: center;
    font-size: 60px;
    color: var(--primary-color);
}

.user-icon {
    font-size: 200px;
    color: var(--primary-color);
}

.user-card {
    margin: 40px;
}

.versus-text {
    margin-top: 140px;
    color: var(--primary-color);
    font-size: 120px;
}

.users-container {
    display: flex;
}