.admin-fixed-bar{
    width: auto;
    height: 35px;
    background-color:#201e1e;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.button{
    font-family: 'Helvetica Neue';
    font-size: 18px;
    background-color:#201e1e;
    color:#FFFFFF;
    border:none;
    width:28%;
    height: 35px;
}
.button:hover {
    background:#12bfd6;
    color:#201e1e;
}