.game-lists {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.admin-fixed-bar{
    width: auto;
    height: 35px;
    background-color:#201e1e;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.button{
    font-family: 'Helvetica Neue';
    font-size: 18px;
    background-color:#201e1e;
    color:#FFFFFF;
    border:none;
    width:28%;
    height: 35px;
}
.button:hover {
    background:#12bfd6;
    color:#201e1e;
}
.form-area{
    position:absolute;
    z-index:100;
    left:28%;
    top:0;
    margin-top: 40px;
    opacity: 0.95;
}